/* List TKJ */
.list {
  margin-left: 20px;
}

.list li {
  margin-bottom: 8px;
}

/* Link */
a {
  color: #4f46e5;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}